.home-app {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 6.5rem;
}

h2 {
  font-weight: 500;
  font-size: 2.8rem;
  font-family: 'Roboto', sans-serif;
}

section {
  width: min(100vw, 140rem);
  margin-bottom: 5rem;
}

section.landing-page {
  aside {
    p {
      position: absolute;
      bottom: 8rem;
      font-size: 5rem;
      font-weight: 500;
      font-family: 'Roboto', sans-serif;
      color: #fff;
    }
  }
  .subscription {
    p {
      font-size: 1.4rem;
      font-family: 'Roboto', sans-serif;
      color: var(--text-color);
      font-weight: 500;

      margin-bottom: 1rem;

      &#subscription-title {
        margin-bottom: 2rem;
        font-size: 2.4rem;
        color: var(--text-contrast-color);
      }
    }

    form {
      display: flex;
      flex-direction: column;

      width: 30rem;

      gap: 1rem;

      input {
        padding: 1rem;
        border-radius: .5rem;
        border: .1rem solid var(--contrast-color);
        outline: none;
      }

      button {
        cursor: pointer;

        padding: 1rem;
        border-radius: .5rem;
        border: none;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  section.landing-page {
    display: flex;
    align-items: stretch;
    height: 60rem;

    margin-left: 3rem;

    aside {
      flex: 7;

      height: 89vh;

      border-radius: .5rem;
      background-color: black;

      padding-left: 4rem;


    }

    .subscription {
      flex: 8;
      height: 89vh;

      padding-left: 10em;

      > div {
        position: absolute;
        bottom: 6rem;
      }
    }
  }
}

@media only screen and (min-width: 801px) and (max-width: 1200px) {
  section.landing-page {
    display: flex;
    align-items: stretch;
    height: 60rem;

    margin-left: 3rem;

    aside {
      flex: 7;

      height: 89vh;

      border-radius: .5rem;
      background-color: black;

      padding-left: 4rem;


    }

    .subscription {
      flex: 8;
      height: 89vh;
      display: flex;
      align-items: center;
      justify-content: center;

      // padding-left: 15%;

      > div {
        position: absolute;
        bottom: 6rem;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  section.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;

    aside {
      height: 89vh;
      width: min(90vw, 60rem);

      border-radius: .5rem;
      background-color: black;

      padding-left: 4rem;
    }

    .subscription {
      padding: 4rem 0;
      padding-left: 2.5rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  section.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;

    aside {
      height: 89vh;
      width: 95vw;

      border-radius: .5rem;
      background-color: black;

      padding-left: 4rem;
    }

    .subscription {
      padding: 4rem 0;
      padding-left: 2.5rem;
    }
  }
}



section.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-top: 3rem;

    width: min(70vw, 60rem);

    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    text-align: center;

    span {
      color: var(--text-contrast-color);
    }
  }

  #topics {
    display: flex;
    align-items: center;
    flex-direction: row;

    margin-top: 5rem;

    gap: 3rem;

    .topic {
      width: 19.9rem;
      // height: 10rem;
      border-radius: .5rem;

      // height: 10rem;

      &.odd {
        height: 36rem;
      }

      &.pair {
        height: 34rem;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  section.presentation {
    p {
      width: 70vw;
    }
  }
}

section.why-subscribe {
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p#japanese {
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;

    position: relative;
    top: -10rem;
    right: 2rem;
  }

  main {
    margin-left: 2rem;
    width: min(80vw, 120rem);

    section {
      margin-top: 4rem;
      display: flex;
      flex-direction: column;

      gap: 2rem;
      div {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        width: 100em;

        p {
          font-size: 1.4rem;
          font-weight: 500;
          font-family: 'Roboto', sans-serif;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  section.why-subscribe {
    p#japanese {
      top: -5rem;
    }
    main {
      section {
        gap: 4rem;
        div {
          flex-direction: column;
          width: 60vw;
        }
      }
    }
  }
}
